.user-header {
  padding: 30px 15px;
  text-align: center;
  color: #fff;
  background-color: #5677fc;

  .user-image {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }

  .user-name {
    margin-top: 20px;
  }
}

.action-link {
  text-align: center;
  padding: 40px 20px;
  position: relative;

  .line {
    content: "";
    position: absolute;
    top: 40px;
    bottom: 40px;
    right: 0;
    display: block;
    width: 2px;
    background-color: #e0e0e0;
  }
}
.action-icon {
  display: block;
  width: 72px;
  height: 72px;
  margin: 0 auto;
}
.action-name {
  margin: 20px;
}
